{% extends 'base.html.twig' %}

{% block title %}Listado de departamentos{% endblock %}
{% block body %}
<h1>Departamentos</h1>
<ul>
    {% for departamento in departamentos %}
        <li>{{ departamento.nombre }}</li>
    {% endfor %}
</ul>

</div>
{% endblock %}
