{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-light p-4 rounded shadow-sm">
        <h2 class="mb-4">Sección de Estudiantes</h2>
        {% block contenido_estudiantes %}{% endblock %}
    </div>
{% endblock %}
